---
import "../components/Menu.astro";
---


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.png" type="image/png">
    <title>Test</title>
    <meta property="og:type" content="website" />
    <script defer data-domain={site_domain} src="https://plausible.io/js/script.js"></script>
  </head>
  <body class="page">
    <Menu/>
  </body>
</html>